.header {
  height: 7vh;
  padding: 2% 10%;
}

.header img {
  height: 100%;
}

.photo-fer {
  height: 100vh;
  padding: 0 10%;
}

.photo-fer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-fer-full {
  height: 100vh;
}

.photo-fer-full img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.divider {
  margin: 10% 10%;
}

.countdown {
  text-align: center;
  padding: 10%;
}

.countdown-text {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 1.5rem;
}

.countdown-clock {
  margin-bottom: 5%;
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: 2rem;
}

@media only screen and (max-device-width: 640px) {
  .header {
    height: 4vh;
    padding: 1% 5%;
  }

  .photo-fer {
    height: 50vh;
    padding: 0 5%;
  }

  .countdown {
    text-align: center;
    padding: 5%;
  }

  .countdown-text {
    margin-top: 10%;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 1rem;
  }

  .countdown-clock {
    margin-bottom: 10%;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
